.header
    width: 100%
    height: 100px
    border-bottom: 1px solid #EEE

.ld

    $theme-padding: 15px
    $primary-color-1: #2BB7B7
    $break-point-lg: 900px

    &-title
        margin-bottom: $theme-padding * 2
        font-family: 'Roboto', sans-serif
        font-weight: 300
        color: #333A44
        &--lg
            font-size: 49px
            @media (max-width: $break-point-lg)
                &
                    font-size: 32px
        &--md
            font-size: 28px
            @media (max-width: $break-point-lg)
                &
                    font-size: 24px
    &-text
        font-family: 'Roboto', sans-serif
        font-weight: 200
        color: #333A44
        font-size: 16px
    &-col
        width: 50%
        height: 100%
        flex: 0 0 50%
        align-items: center
        display: flex
        @media (max-width: $break-point-lg)
            &
                width: 100%
                flex: 0 0 100%
    &-row
        width: 100%
        max-width: 1280px
        display: flex
        align-items: center
        &--fluid
            max-width: none
    &-buttons
        padding: 0
        margin: 0
        list-style: none
        &__list
            display: inline
            &:not(:last-of-type)
                margin-right: $theme-padding
    
    &-section
        position: relative
        display: flex
        justify-content: center
        @media (max-width: $break-point-lg)
            &
                flex-direction: column
        &--primary
            background: white
        &--secondary
            background: #fdfdfd
        &--addendum
            $size: 8px
            &:before,
            &:after
                content: ''
                position: absolute
                height: $size
                background: #2BB7B7
            &:before
                top: -($size / 2)
                left: 0
                width: 75%
            &:after
                bottom: -($size / 2)
                right: 0
                width: 25%
        &__content
            width: 100%
            padding: 100px
            @media (max-width: $break-point-lg)
                &
                    padding: $theme-padding * 2.5 $theme-padding

    &-banner
        width: 100%
        max-height: 600px
        display: flex
        img
            object-fit: cover
            overflow: hidden

    &-benefits
        padding: $theme-padding * 3 0 0
        margin-bottom: 0
        list-style: none
        @media (max-width: $break-point-lg)
            &
                padding: $theme-padding * 2.5 $theme-padding
        &--section
            padding: 100px 100px (100px - ($theme-padding * 3))
            @media (max-width: $break-point-lg)
                &
                    padding: $theme-padding * 2.5 $theme-padding
        &__list
            margin-bottom: $theme-padding * 3
        &__icon
            position: relative
            width: 40px
            height: 48px
            background: #9EDADA
            border-radius: 8px
            &__wrapper
                margin-bottom: $theme-padding * 2
        &__svg
            position: absolute
            top: -10px
            right: -10px
            width: 40px
            height: 40px
            background: red        
